@* <!DOCTYPE html> *@
@* <html> *@
@* <head> *@
@*     <title>Bold Reports - Report Viewer</title> *@
@*     <link href="https://cdn.boldreports.com/8.1.1/content/v2.0/tailwind-light/bold.report-viewer.min.css" rel="stylesheet" /> *@
@* </head> *@
@* <body> *@
@*     <div id="report-viewer-container"> *@
@*         <bold-report-viewer id="reportviewer" *@
@*                             report-path="@ViewBag.ReportPath" *@
@*                             service-url="/api/ReportViewer"> *@
@*         </bold-report-viewer> *@
       
@*     </div> *@

@*     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> *@
@*     <script src="https://cdn.boldreports.com/8.1.1/scripts/v2.0/common/bold.reports.common.min.js"></script> *@
@*     <script src="https://cdn.boldreports.com/8.1.1/scripts/v2.0/common/bold.reports.widgets.min.js"></script> *@
@*     <script src="https://cdn.boldreports.com/8.1.1/scripts/v2.0/bold.report-viewer.min.js"></script> *@
   
@* </body> *@
@* </html> *@
